.banner {
    height: 600px;
    background-image: url("https://res.cloudinary.com/dofqxmuya/image/upload/v1741258962/close-up-portrait-young-professional-woman-doctor-physician-medical-face-mask-glasses-showing-vaccine-approve-it-recommending-get-vaccinated-from-covid19_zpfmb7-removebg-preview_zsfer2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    color: #1E3A8A;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
}


.banner .button {
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #2563EB;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner .button:hover {
    background-color: #1D4ED8;
}
